.card {
    margin: 20px;
    background: linear-gradient(180deg, #FF6060, #852222);
    border-radius: 10px;
    width: auto;
    height: 220px;
    color: white;
    display: flex;
    align-items: flex-end;
    position: relative;
    p {
        position: absolute;
        z-index: 10;
        padding: 0 15px 15px 15px;
        text-shadow: 1px 1px 2px black;
    }
    img {         
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }

@media (min-width: 768px) {
    .card {
        width: 340px;
        height: 340px;
    }
    
}
