.dropdown-menu {
    button {
        cursor: pointer;
        color: white;
        border: 1px #FF6060 solid;
        border-radius: 5px;
        background-color: #FF6060;
        width: calc(100% - 40px);
        padding: 7px;
        display: flex;
        margin: 20px 20px 0 20px;
        justify-content: space-between;
        align-items: center;

    }
    .collapsed {
        display: none;
    }
    .content-collapsible {
        background-color: #F6F6F6;
        color: #FF6060;
        margin: 0 20px;
        padding: 20px;
        font-size: 14px;
    }
    .chevron-icon {
        transition: transform 0.3s ease;
    }
    .chevron-icon.up {        
        transform: rotate(-180deg)
    }
      
}

@media (min-width: 768px) {
        .dropdown-menu {
            button {
                border-radius: 11px;
                font-size: 18px;
                padding-top: 12px;
                padding-bottom: 10px;
            }
        }
        .content-collapsible {
            font-size: 18px;
        }
        .chevron-icon {
            transition: transform 0.3s ease;
        }
    }
// }
// }
