* {
  margin: 0;
  padding: 0;    
  box-sizing: border-box;    
  object-fit: cover;
  font-family: Montserrat;
  line-height: 142.6%;
}

#root {    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body {
  box-sizing: border-box;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  body {
    margin: 0 auto;
  }
}
