.error-page {
    display: flex;
    flex-direction: column;
    
    h1 {
        color: #FF6060;
        text-align: center;
        font-size: 96px;
        margin: 100px 0;
    }
    p {
        margin: 0 50px;
        color: #FF6060;
        text-align: center;
        font-size: 18px;
    }
    div {
        margin: 100px 0;
        font-size: 14px;
        text-align: center;
        a {
            color: #FF6060;           
        }
    }
}

@media (min-width: 768px) {
    .error-page{
        h1 {
            font-size: 288px;
        }
        p {            
            font-size: 36px;
        }
        div {
        font-size: 18px;
        }   
    }         
}
